{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %}




<div class="login">
    <h1>Player Login</h1>
    <div class="links">
        <a href="{{ url_for('player_login') }}" class="active">Login</a>
    </div>
    <form action="{{ url_for('player_login') }}" method="post">
        <label for="username">
            <i class="fas fa-user"></i>
        </label>
        <input type="text" name="username" placeholder="Username" id="username" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        {% if acc_created %}
        <p>Registered Successfully!</p>
        {% endif %}
        {% if invalid_credentials %}
        <p>Invalid Credentials!</p>
        {% endif %}
        *Please ask for the credentails from the Instructor
        <input type="submit" value="Login">
    </form>
</div>


{% endblock %}